{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}
{% if resource.meta.title %}
{% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %}
{% endif %}

{% for res in resource.node.walk_resources_sorted_by_time() %}
{{ render_excerpt(res) }}
{% endfor %}

{% endblock %}