---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 Programme
---
{% markdown %}

# Conference programme
The conference starts out with 12 Miniconfs spread over 2 days.

The final 3 days of the conference has 80 talks and 8 tutorials spread over 6 parallel tracks.

##Schedule of the week
{% endmarkdown %}
<div class="table-responsive">
<table class="table table-striped table-bordered" summary="This table provides a summary of the conference days">

<TR>
  <TH> Day </TH>
  <TH> Start of Day </TH>
  <TH>Daytime</TH>
  <TH>Nighttime</TH>
</TR>
<TR>
  <TH> Monday </TH>
  <TD> Conference Welcome </TD>
  <TD> Miniconfs </TD>
  <TD> </TD>
</TR>
<TR>
  <TH> Tuesday </TH>
  <TD> Keynote #1 </TD>
  <TD> Miniconfs </TD>
  <TD> </TD>
</TR>
<TR>
  <TH> Wednesday </TH>
  <TD> Keynote #2 </TD>
  <TD> Main Conference </TD>
  <TD> Penguin Dinner </TD>
</TR>
<TR>
  <TH> Thursday </TH>
  <TD> Keynote #3 </TD>
  <TD> Main Conference </TD>
  <TD> </TD>
</TR>
<TR>
  <TH> Friday </TH>
  <TD> Keynote #4 </TD>
  <TD> Main Conference <br> Lightning talks and Conference Close </TD>
  <TD> </TD>
</TR>

</table>
</div>

{% markdown %}

## Daily Schedule
{% endmarkdown %}

<div class="table-responsive">
<table class="table table-striped table-bordered" summary="This table provides a summary of the conference days">

<TR>
  <TH> Time </TH>
  <TH> Activity </TH>
</TR>
<TR>
  <TD> 9.00am </TD>
  <TD> Start of day and housekeeping </TD>
</TR>
<TR>
  <TD> 9.10am </TD>
  <TD> Welcoming remarks and/or keynote </TD>
</TR>
<TR>
  <TD> 10.10am </TD>
  <TD> Morning tea (catered) </TD>
</TR>
<TR>
  <TD> 10.45am </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 12.25pm </TD>
  <TD> Lunch (un-catered) </TD>
</TR>
<TR>
  <TD> 13.40pm </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 15.20pm </TD>
  <TD> Afternoon team (catered) </TD>
</TR>
<TR>
  <TD> 15.45pm </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 17.25pm </TD>
  <TD> Sessions end </TD>
</TR>
<TR>
  <TD> 17.30pm </TD>
  <TD> BoF sessions and evening events </TD>
</TR>
</table>
</div>

{% markdown %}
### Welcome Address
The conference organisers start the week by welcoming everyone and letting everyone know the general housekeeping requirements of the conference.

### Keynotes
From Tuesday through to Friday the day starts off with a Keynote presentation. We are really excited by our invited guests this year and will be making announcements very soon.

### Lightning Talks and Conference Close
On Friday afternoon the now traditional lightning talks (3-5 minutes each) take place. Followed by the raffle draw, announcement of the next year's LCA location and formal closing.

{% endmarkdown %}
