---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 proposals
---

{% markdown %}
# Call for Proposals (CfP) - Now CLOSED!

# The below information is for reference only - we are no longer accepting submissions.

### Key dates:

* Call for proposals opens: 3rd July 2017
* Call for proposals closed: 6th August 2017
* Proposal result notifications sent: Mid-Sept
* Early bird registrations open: Start of October
* Conference starts: 22 January 2018

### Submit

Create your acount here: <a href="https://login.linux.conf.au/manage/public/newuser"> LCA Account Mgmt </a>

Submit your proposal here: <a href="https://rego.linux.conf.au">LCA Proposals Submission Site </a>

### About the CfP and LCA
linux.conf.au is regarded as one of the top linux and open source conferences in the world.

Our aim is to create a deeply technical conference made up of industry leaders and experts on a wide range of subjects. From the inner workings of the Linux kernel itself, to open source projects (hardware and software), to open data to community engagement. We want it all.

In this Call For Proposals we want submissions from first timer speakers as well as the veterans. If you are doing something interesting in the Open Source world then we would like to hear about it. We gladly accept submissions from people of all ages, genders, nationalities, ethnicities, backgrounds, religions, abilities, and walks of life. We respect and encourage diversity at our conference.


### What we are looking for

#### Talk content
We are after talks that cover:

* The linux kernel (or other open kernels)
* Open source projects
* Open data and information
* Community ecosystems
* Other technical topics (community engagement can be technical!).
* If you think a topic is interesting chances are someone else will too!

Some suggestions to get you started with your proposal ideas:
#### Learning from the past

Is your project breaking new ground by re-using something from the past? An idea, a methodology or is now just the right time? Every one loves the new bright and shiny - but that doesn't mean that it hasn't been tried before. Ideas from before that may not have found their target, or may not have been feasible, may be ripe for the taking now. It’s easy for us to forget the past, and hard for us to predict the future, but we know that you and your past should be a part of our future.

#### Your project

linux.conf.au is a great place to showcase what you are working on. It is known for being a place where deeply technical, cutting edge talks are at its core. Attendees love to push the boundaries of their knowledge. They want to be the first to know about updates to the tools they already use everyday or what they might be using two years from now.

#### Anything that embraces "OPEN"

Many fields share the Open Source ideology. They have either independently arrived there or they may have been inspired by it. Open science, data, government and the law all have strong backing and communities. We want to know how open source is impacting and shaping the world around us and not necessarily through software.

#### Or just whatever you want!

Sometimes the best talks don't fit neatly in to any of the suggested categories above. If you think you have something to say about Free and Open Source Software, Open Hardware, Open Data, Open Government or anything related to it then we want to hear from you.


### Talk types

#### Talks/Presentations

35-45 minute presentations on a single topic. These are generally presented in lecture format and form the bulk of the available conference slots.

#### Tutorials

45-90 minute interactive learning sessions for particpants to gain some hands on knowledge or experience in something. These are generally presented in a classroom format. They should be interactive or hands-on in nature. Tutorials are expected to have a specific learning outcome for attendees.

#### Miniconfs

1 day technical streams focussing on one particular area of expertise run on either Monday or Tuesday of the conference. We provide the room and attendees, you provide the speakers and content. Together, you can explore a field in Free and Open Source software in depth.

### Expected Timeline
* July 3 - CfP opens - submit early, submit often
* August 6 - CfP closed - no extensions expected
* August - Proposals are reviewed by our team of experts culminating in a final papers selection day
* September - Notifications of acceptances, rejections and waiting lists are sent out

### Conference Theme

The Conference Theme sets an overarching tone for the conference of any given year.

This year our theme for LCA2018 is "a little bit of history repeating". Building on last year’s theme of "The future of open source",  we intend to examine the future through the lens of the past. Technology progresses, new ideas are formed, new paradigms are explored - yet we often see repeating cycles. Computers started out as big bulky mainframes with remote terminals; then moved out to the desktop. A few decades later the advent of the Thin Client, and later on web-based applications, have seen computing power once again centralise.

Alternatively are you working on something that might be echoeing or standing on the shoulders of those who have come before us. Is your project breaking new ground by re-using something from the past? Every one loves the new bright and shiny -- but that doesn't meant that it hasn't been tried before. Previous ideas from before may not have found their target or been feasible at the time may be ripe for the taking now.

Having said that we still want to hear about the brand new and interesting things that don't fit in to the theme!


### Selection criteria
Linux.conf.au traditionally selects talks from people who are not just using the tools but are actively doing and creating the things they are talking about.

We encourage people to submit as many contributions as they would like. However it should be noted that due to the quality of the submissions received generally only 1 talk per speaker will be accepted to the final programme. One great talk submission may be a better option than 4 mediocre submissions. But please don't let that stop you from submitting multiple times!

#### Preference is shown for those who are:

* Leaders of a project or initiative
* Active key contributors
* Doing new and interesting things in open source

### Selection process overview
Once the CfP closes, a team of reviewers will start the process of asessing the submissions. Each reviewer assigns the submission a score. During this time the review team may reach out to the submitters for further clarification or revision of their proposals.

The process culminates with a day long face to face meeting day where the final selection process concludes with a list of accepted proposals, rejected proposal and reserve proposals. ( Reserve proposals are those that we would like to keep as backups in case they are required later on in cases such as accepted speakers being unable to attend or having to withdraw their talks).

All submitters will be notified via email of the status of their submission as well as being able to check in the CfP portal.

### Terms and Conditions plus Code of Conduct

By agreeing to present at or attend the conference you are agreeing to abide by the [terms and conditions]({{ content_url('attend/terms-and-conditions')}} ). We require all speakers and delegates to have read, understood, and act according to the standards set forth in our [Code of Conduct]({{ content_url('attend/code-of-conduct') }}).

### Recognition for accepted proposals

In recognition of the value that presenters and organisers bring to our conference, once a proposal is accepted, one presenter or organiser per proposal is entitled to:

* Free registration, which holds all of the benefits of a Professional Delegate Ticket
* A complimentary ticket to the Speakers' Dinner for the speaker, with additional tickets for significant others and children of the speaker available for purchase.
* Optionally, recognition as a Fairy Penguin Sponsor, available at 50% off the advertised price

If your proposal includes more than one presenter or organiser, these additional people will be entitled to:

* Professional or hobbyist registration at the Early Bird rate, regardless of whether the Early Bird rate is generally available
* Speakers’ dinner tickets available for purchase at cost

Important note for miniconf organisers: These discounts apply to the organisers only. All participants in your miniconf must arrange or purchase tickets for themselves via the regular ticket sales process or they may not be able to attend!

#### As a volunteer-run non-profit conference, linux.conf.au does not pay speakers to present at the conference; but you may be eligible for financial assistance.

### How to seek help
If you need help with drafting your submission please reach out the papers committee. There are a number of resources and people available to give you assistance.

They can be emailed at papers-chair at linux dot org dot au

### Financial assistance for speakers
Do you want to submit but fear that you may not be able to attend because of a cost associated with attending the conference? Good news! There is a pool of funding available to assist you get here.

If you require financial help please make note of it in your submission.

Financial assistance may be provided to cover expenses that might otherwise prohibit a speaker from attending such as:

* Cost of flight
* Accommodation
* Other accessibility related costs


Please note that there is a limit to the funds so there is no guarantee that we will be able to fulfill your request.

### FAQ
#### What is the difference between private and public Summary?
Private Summary is the portion that will be shown to the review team. Give some more details of the talk and why it should be chosen.

Public Summary is the portion that will be shown to everyone on the website once the schedule is annouced. Provide enough details of the talk to whet the appetite.

#### Why is my email delayed/slow/not getting to me during the account creation phase?
A number of people choose to use greylisting services for the email. We are finding that some greylisting filters are delaying the receipt of emails being sent from out systems. If you are able to we recommend whitelisting @lca2018.org at least for the duration of the conference.

{% endmarkdown %}
